.license {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.license_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.delete_btn {
  margin-top: 10px;
}
