.sessionCard {
  border: 1px solid var(--border-color);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
  transition: max-height 0.3s ease-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 5px;
}

.details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details div {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 5px;
}

.toggleButton {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.closeButton {
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;

  transition: all 0.3s ease-in-out;
}

.closeButton:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}
