.header {
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.logo_link {
  color: #000;
}
.logo_img {
  width: 30px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  gap: 30px;
}

.link {
  color: #000;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: var(--accent-color);
}

.auth {
  display: flex;
  gap: 30px;
}
