@import "_normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --accent-color: #d0770b;
  --border-color: #aaa8a8d3;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.wrapper {
  max-width: 1430px;
  padding: 0px 15px;
  margin: 0 auto;
}
