.title {
  text-align: center;
  margin: 0;
  padding-top: 45px;
  letter-spacing: 2px;
  font-size: 2.6rem;
  font-weight: 600;
}
.licenseKeys {
  margin-top: 20px;
}
.addButton {
  color: #000;
  border-color: var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  padding: 15px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}
.addButton:hover {
  background: var(--accent-color);
  color: #fff;
}
.addLicenseFormContainer {
  max-width: 480px;
  width: 100%;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.controlls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
